<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
   
   <connectionStrings>
    <add name="DBconnecting"
    connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=JayData;TrustServerCertificate=True;"
 providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
